.play-random-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34; /* Adjust as needed */
  }
  
  .vertical-content-box {
    text-align: center;
    color: white;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 2rem;
  }
  
.find-match-button {
    width: 30%;
    background-color: #0d963b;
}

.find-match-button:hover {
  background-color: #035f22;
}

.cancel-button {
  width: 30%;
  background-color: #ac190f;
}

.cancel-button:hover {
  background-color: #4d0a05;
}